/* MISC */
@import './misc/variables';
@import './misc/mixins';
@import './misc/normalize';

/* PARTIALS */
@import './partials/header';
@import './partials/footer';

/* VIEWS */
@import './views/temporada';
@import './views/eventos&cumple';
@import './views/servicios';
@import './views/contacto';

/* MAIN INDEX */
.indextemporada {
    background-color: $light_color4;
}

.principalcontainer {
    @include flex-row-wrap;
    justify-content: center;
    padding-top: 0.50em;
    position: relative;
}

.maintext {
    text-align: center;
    font-weight: 600;
    font-size: 3.2vw;
    opacity: 0.9;
    color: $white;
    text-shadow: 0.2em $shadow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categorias {
    @include grid-template-center-padding;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5em 1em 1em;
}

.categoryimg {
    box-shadow: 0.1em 0.1em 0.1em $shadow;
}

section div h3 {
    @include h3;

        &:hover {
            animation-name: show;
            animation-duration: 3s;
        }

        @keyframes show {
            0%  {
                opacity: 0;
            }
            50%  {
                 opacity: 0,5
            }
            100%  {
                  opacity: 1;
            }
        }             
}

main {
    section {
        h2 {
            text-align: center;
            font-size: $font-size+0.8;
            font-weight: 700;
            padding-top: 1em;
        }

        section { 
            h5 {
                background-color: $festivity_color4;
                text-align: center;
                font-size: $font-size;
                font-weight: 400;
                transition: font-size 0.25s;

                &:hover {
                    font-size: $font-size;
                    background-color: $festivity_color3;
                    color: $white;
                }
            }
        }
    }
}

.toptendencias {
    @include grid-template-center-padding;
}

.tendenciasimg {
    padding-top: 0.5em;
}