@mixin h3 {
    text-align: center;
    color: $black;
    padding-bottom: 1em;
    font-size: $font-size+0.4;
    font-weight: 600;
}

@mixin flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin grid-template-center-padding {        
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding: 1em 1em 1em;
}

@mixin newtemporada-grid-template {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 0.5em 0em 2em;
}

@mixin responsive_desktop {
    @media (max-width: $desktop) {
        #tiposdeservicios {
            grid-template-columns: repeat(1, 1fr);
            }
        }

        #waysofcontact {
            padding-bottom: 2em;
        }

        #contactform {
            padding-bottom: 2em;
        }

        .moreinfobox {
            flex-grow: 1;
            justify-content: space-between;
            align-items: center;
            padding-right: 3em;
            padding-top: 2em;
        }
}

@mixin responsive_tableth {
        
    @media (max-width: $tablet_h) {
        body {
            font-size: .8em;
        }

        .bannerprincipal {
            width: 600px;
            height: 360px;
        }

        .categorias {
            grid-template-columns: 1fr;
        }
        .toptendencias, .cumplevent1, .cumplevent2 {
            grid-template-columns: repeat(2, 2fr);
        }

        #newinfantil, #newadultos, #newocasion {
            grid-template-columns: repeat(1, 1fr);
        }

        .gmap_iframe, .gmap_canvas, .mapouter {
            width: 590px;
            height: 493px;
        }
            
        .mapouter {
            position: relative;
            text-align: right;
        }

        .gmap_canvas {
            overflow: hidden;
            background: none !important;
        }
    }
}

@mixin responsive_tabletv {

    @media (max-width: $tablet_v) {
        .mainheader {
            justify-content: space-around;
        }

        .festivitylogo {
            padding-right: 0.25em;
            padding-left: 0.25em;
        }

        .bannerprincipal {
            width: 480px;
            height: 288px;
        }

        .toptendencias, .cumplevent1, .cumplevent2 {
            grid-template-columns: 1fr;
        } 

        #tiposdeservicios {
            align-content: center;
        }

        .imgservice {
            width: 466px;
            height: 700px;
        }

        main section aside {
            width: 466px;
            height: 700px;
            font-size: $font-size;
            text-align: justify;
            align-items: center;
            padding: 1em;
        }

        .typeservicetitle {
            text-align: center;
            align-items: center;
            font-size: $font-size*2;
            padding: 2em;
        }
        
        .mapouter {
            position: relative;
            text-align: right;
        }

        .gmap_canvas {
            overflow: hidden;
            background: none !important;
        }

        .gmap_iframe, .gmap_canvas, .mapouter {
            width: 480px;
            height: 315px;
        }
    }
}

@mixin responsive_mobilel {    
    @media (max-width: $mobile_l) {
        .festivitylogo {
            width: 100vw;
            padding: 0.75em;
        }

        .fab .fas {
            width: 15vw;
        }
    }
}

@mixin responsive_mobilem { 

    @media (max-width: $mobile_m) {
        .bannerprincipal {
            width: 320px;
            height: 192px;
        }

        #tiposdeservicios {
            align-content: center;
        }

        .imgservice {
            width: 290px;
            height: 435px;
        }

        main section aside {
            width: 290px;
            height: 435px;
            font-size: ($font-size)-0.2;
            text-align: justify;
            align-items: center;
            padding: 0.5em;
        }

        .typeservicetitle {
            text-align: center;
            align-items: center;
            font-size: $font-size+0.5;
            padding: 0.3em;
        }

        .mapouter {
            position: relative;
            text-align: right;
        }

        .gmap_canvas {
            overflow: hidden;
            background: none !important;
        }

        .gmap_iframe, .gmap_canvas, .mapouter {
            width: 320px;
            height: 230px;
        }

        .moreinfobox {
            justify-content: center;
            align-items: center;
            padding: 2em 0em 1em;
        }
    }
}

@mixin responsive_mobiles { 

    @media (max-width: $mobile_s) {
        .festivitylogo {
            width: 60vw;
            padding: 1em;
        }

        .fab .fas {
            width: 50vw;
        }

        .bannerprincipal {
            width: 200px;
            height: 120px;
        }

        .categoryimg, .imgcolection, .img {
            width: 130px;
            height: 130px;
        }

        .tendenciasimg {
            width: 120px;
            height: 120px;
        }

        main section div h1 {
            font-size: $font-size+0.2;
        }

        main section div h3, main section h2, main section section div h5 {
            font-size: $font-size;
        }

        .typenew, .type {
            font-size: $font-size;
        }

        #tiposdeservicios {
            align-content: center;
            width: fit-content;
            margin: 0 auto;
        }

        .imgservice {
            width: 200px;
            height: 300px;
        }

        main section aside {
            width: 200px;
            height: 300px;
            font-size: ($font-size)-0.4;
            text-align: justify;
            align-items: center;
            padding: 0.5em;
        }

        .typeservicetitle {
            text-align: center;
            align-items: center;
            font-size: ($font-size)-0.2;
            padding: 0.5em;
        }

        .mapouter {
            position: relative;
            text-align: right;
        }

        .gmap_canvas {
            overflow: hidden;
            background: none !important;
        }

        .gmap_iframe, .gmap_canvas, .mapouter {
            width: 200px;
            height: 133px;
        }
    }
}