/* FUENTES */
$font: 'Poppins', sans-serif;
$font-size: 1rem;

/* COLORES */
$festivity_color1: #9999CC;
$festivity_color2: #FF7D8F;
$festivity_color3: #FFD93B;
$festivity_color4: #FFBF52;

$light_color1: #f4f4f9;
$light_color2: #fff2f3;
$light_color3: #fffbeb;
$light_color4: #fff8ed;

$white: #fdfdfd;
$black: #191919;
$grey: #eaeaf4;
$orange: #ff9f70;
$shadow: #ababab;

/* DIMENSIONES */
$desktop: 1024px;
$tablet_h: 768px;
$tablet_v: 600px;
$mobile_l: 530px;
$mobile_m: 480px;
$mobile_s: 320px;