<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b3a4f2f930.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <title>Festivity - Cotillon</title>
</head>
<body>
    <header>
        <section class="mainheader">
            <i class='fab fa-facebook' style='font-size:1.9em'></i>
            <i class='fab fa-instagram' style='font-size:1.9em'></i>
            <i class='fab fa-pinterest' style='font-size:1.9em'></i>
            <a class='festivitylogo' href="../index.html"><img src ="https://i.postimg.cc/PxKvHsdW/Transparent-White-Festivity-Logo.png" alt="FestivityLogo" width="200" height="74"></a>
            <i class='fas fa-search' style='font-size:1.9em'></i>
            <i class='fas fa-user-circle' style='font-size:1.9em'></i>
            <i class='fas fa-cart-plus' style='font-size:1.9em'></i>
        </section>
        <nav>
            <ul>
                <li><a id='navtemp' href="./temporada.html">Temporada</a></li>
                <li><a id='naveven' href="./eventos.html">Eventos</a></li>
                <li><a id='navcump' href="./cumpleanios.html">Cumpleaños</a></li>
                <li><a id='navserv' href="./servicios.html">Servicios</a></li>
                <li><a id='navcont' href="./contacto.html">Contacto</a></li>
            </ul>
        </nav> 
    </header>
    <main class="cumplevent0">
        <section>
            <section class="cumpleventprincipal">
                <img class= "bannerprincipal" src ="https://i.postimg.cc/4dSkRkyW/Cumple-Banner.jpg" alt="CumpleaniosSection" width="766" height="460">
            </section>
            <div>
                <h1>CUMPLEAÑOS</h1>
            </div>
        </section>
        <section class="cumplevent1">
            <div>
                <p class="type">Rainbow</p>
                <img class="img" src ="https://i.postimg.cc/6Q5Hn6rh/Rainbow-Birthday.png" alt="CumpleRainbow" width="180" height="180">
            </div>
            <div>
                <p class="type">Jungle</p>
                <img class="img" src ="https://i.postimg.cc/kMVpT5k1/Jungle-Birthday.png" alt="CumpleAnimal" width="180" height="180">
            </div>
            <div>
                <p class="type">Unicorn</p>
                <img class="img" src ="https://i.postimg.cc/XJ5fwQQD/Unicorn-Birthday.png" alt="CumpleNena" width="180" height="180">
            </div>
            <div>
                <p class="type">Space</p>
                <img class="img" src ="https://i.postimg.cc/vmk7gpLV/Space-Birthday.png" alt="CumpleNene" width="180" height="180">
            </div>
        </section>
        <section class="cumplevent2">
            <div>            
                <p class="type">Coronitas</p>
                <img class="img" src ="https://i.postimg.cc/t4bvRN7w/Pink-Teen-Birthday.png" alt="CumpleGirlTeen" width="180" height="180">
            </div>
            <div>
                <p class="type">Futbol</p>
                <img class="img" src ="https://i.postimg.cc/pVZp12zj/Boy-Teen-Birthday.png" alt="CumpleBoyTeen" width="180" height="180">             
            </div>
            <div>
                <p class="type">Floral</p>
                <img class="img" src ="https://i.postimg.cc/FRYDCPnd/Floral-Adult-Birthday.png" alt="CumpleaAdulto1" width="180" height="180">
            </div>
            <div>
                <p class="type">Neutral</p>
                <img class="img" src ="https://i.postimg.cc/rpQPPRVb/Neutral-Adult-Birthday.png" alt="CumpleAdulto2" width="180" height="180">
            </div>
        </section>
    </main>
    <footer>
        <section class="fullfooter"> 
            <form class="formulario"> 
                <h3>SUSCRIBITE A NUESTRO NEWSLETTER</h3>
                <h4>¡Recibí descuentos exclusivos y novedades!</h4>
                <label for="nombre_apellido">Nombre y Apellido:</label> 
                <input type="text" name="nombre_apellido"/>
                <label for="email">Email:</label> 
                <input type="text" name="email"/>
                <input type="submit" value="Suscribirse"/> 
            </form>
            <section class="moreinformation">
                <section class="moreinfobox">
                    <div class="aboutus">
                        <ul>
                            <h4>SOBRE NOSOTROS</h4>
                            <li>Quienes somos</li>
                            <li>Nuestra Historia</li>
                            <li>Carreras</li>
                            <li>Blog</li>
                            <li>Tutoriales</li>
                        </ul>
                    </div>
                    <div class="needhelp">
                        <ul>
                            <h4>¿NECESITAS AYUDA?</h4>
                            <li>Envios</li>
                            <li>Devoluciones</li>
                            <li>Preguntas frecuentes</li>
                            <li>Terminos y condiciones</li>
                            <li>Politica y Privacidad</li>
                        </ul>
                    </div>
                    <div class="iniciative">
                        <ul>
                            <h4>INICIATIVAS</h4>
                            <li>Prensa & RRPP</li>
                            <li>B2B</li>
                            <li>Catalogos</li>
                            <li>Exposiciones</li>
                            <li>Afiliados</li>
                        </ul>
                    </div>
                </section>
            </section>
        </section>
        <section class="copyright">
            <h6>Copyright © Festivity</h6>
        </section>
    </footer>
</body>
</html>