footer {
    background-color: $light_color3;
    font-family: $font;
    color: $black;

    .fullfooter {
        @include flex-row-wrap;
        justify-content: space-evenly;
        padding: ($padding+0.5) ($padding*5) ($padding+0.5);
    }

    .formulario {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-grow: 1;
    }

    .moreinformation {
        @include flex-row-wrap;
        justify-content: flex-end;
        flex-grow: 2;
        align-content: center;
    }

    .moreinfobox {
        @include flex-row-wrap;
        justify-content: space-between;
        padding-left: $padding*3;
        align-items: center;
    }

    .aboutus, .needhelp  {
        padding-right: $padding*3;
    }   

    .copyright {
        @include flex-row-wrap;
        justify-content: flex-start;
        padding: 0em $padding 0em;
    }

    section section section div ul {
            list-style-type: none;
            padding-bottom: $padding/2;   
    }
}










