header section {
    background-image: linear-gradient(90deg, #9999CC 0%, #FF7D8F 40%, #FFD93B 100%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    a {
        text-decoration: none;
    }

    .mainheader {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1.25em 4em 1.25em;
    }
    
    .fab {
        color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0.3em;
    }
    
    .festivitylogo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-grow: 4;
    }
    
    .fas {
        color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0.2em;
    }    
}

header nav {
    ul {
        background-color: #fdfdfd;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        overflow: auto;

        li a {
            text-decoration: none;
            color: #191919;
            font-weight: 600;
            font-size: 1em;
            float: left;
            display: block;
            padding: 0.3em;
            text-align: center;
        }
    }

    #navtemp:hover {
        color: #9999cc;
    }

    #naveven:hover {
        color: #ff7d8f;
    }

    #navcump:hover {
        color: #ff9f70;
    }

    #navserv:hover {
        color: #ffbf52;
    }

    #navcont:hover {
        color: #ffd93b;
    }
}