#contacto {
    background-color: $light_color1;
}

#contactoprincipal {
    @include flex-row-wrap;
    justify-content: center;
    align-items: center;
    padding: 0.50em 0em 0em;
}

#tiposdecontacto {
    @include flex-row-wrap;
    justify-content: space-evenly;
    padding: 1em 3em 3em;
}

#contactform {
    @extend #contactoprincipal ;
    padding: 2em 1em 5em;
}

/*Mapa Ubicación*/

#mapitemcontact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 600px;
    height: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 600px;
    height: 400px;
}

.gmap_iframe {
    width: 600px;
    height: 400px;
}

/*Fin Mapa Ubicación*/

#waysofcontact {
    @extend #mapitemcontact ;
    justify-content: flex-start;
    font-size: $font-size;
    padding: 1em 0em 0em;
}

main {
	section {
		section {
			p {
				color: $black;
				font-size: $font-size;
				font-weight: 300;
			}
		}
	}
}