#contacto {
    background-color: $light_color1;
}

#contactoprincipal {
    @include flex-row-wrap;
    justify-content: center;
    align-items: center;
    padding: $padding/2 0em 0em;
}

#tiposdecontacto {
    @include flex-row-wrap;
    justify-content: space-evenly;
    padding: $padding $padding*3 $padding*3;
}

#contactform {
    @extend #contactoprincipal ;
    padding: $padding*2 $padding $padding*5;
}

/*Mapa Ubicación*/

#mapitemcontact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

.mapouter {
    position: relative;
    text-align: right;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
}

.gmap_iframe, .gmap_canvas, .mapouter {
    width: $width+100;
    height: $height/2;
}

/*Fin Mapa Ubicación*/

#waysofcontact {
    @extend #mapitemcontact ;
    justify-content: flex-start;
    font-size: $font-size;
    padding: $padding 0em 0em;
}

main {
	section {
		section {
			p {
				color: $black;
				font-size: $font-size;
				font-weight: 300;
			}
		}
	}
}