.cumplevent0 {
    background-color: $light_color2;
}

.cumpleventprincipal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.50em;
}

.cumplevent1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding: 1em;
}

.cumplevent2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding: 1em;
}

.type {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    transition: font-size 0.3s;
    padding-bottom: 0.75em;
}

.type:hover {
    font-size: 1.2rem;
    color: $festivity_color2;
    animation-name: show2;
    animation-duration: 1s;
}

@keyframes show2 {
    0%  {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.img {
    box-shadow: 0.2em 0.2em 0.2em $shadow;
}