.cumplevent0 {
    background-color: $light_color2;
}

.cumpleventprincipal {
    @include flex-row-wrap;
    justify-content: center;
    align-items: center;
    padding-top: $padding/2;
}

.cumplevent1 {
    @include grid-template-center-padding;
}

.cumplevent2 {
    @extend .cumplevent1;
}

.type {
    font-weight: 600;
    font-size: $font-size+0.2;
    text-align: center;
    transition: font-size 0.3s;
    padding-bottom: ($padding)-0.25;
}

.type:hover {
    font-size: $font-size+0.2;
    color: $festivity_color2;
    animation-name: show2;
    animation-duration: 1s;
}

@keyframes show2 {
    0%  {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.img {
    box-shadow: 0.2em 0.2em 0.2em $shadow;
}