#servicios {
    background-color: $light_color1;
}

#serviciosprincipal {
    @include flex-row-wrap;
    justify-content: center;
    align-items: center;
    padding-top: $padding/2;
}

#tiposdeservicios {
    @include grid-template-center-padding;
    grid-template-columns: repeat(2, 1fr);
}

main {
    section {
        aside {
    width: $width;
    height: ($height)-32;
    border: 0.01em $grey;
    background-color: $grey;
    text-align: justify;
    align-items: center;
    color: $black;
    font-size: $font-size;
    font-weight: 300;
    padding: $padding;
        }
    }
}

.typeservicetitle {
    text-align: center;
    align-items: center;
    color: $black;
    font-size: $font-size*2;
    font-weight: 600;
    padding: $padding*2;
}

.imgservice {
    padding: $padding 0em $padding;
    width: $width; 
    height: $height;
}