#servicios {
    background-color: $light_color1;
}

#serviciosprincipal {
    @include flex-row-wrap;
    justify-content: center;
    align-items: center;
    padding-top: 0.50em;
}

#tiposdeservicios {
    @include grid-template-center-padding;
    grid-template-columns: repeat(2, 1fr);
}

main {
    section {
        aside {
    width: 500px;
    height: 768px;
    border: 0.01em $grey;
    background-color: $grey;
    text-align: justify;
    align-items: center;
    color: $black;
    font-size: $font-size;
    font-weight: 300;
    padding: 1em;
        }
    }
}

.typeservicetitle {
    text-align: center;
    align-items: center;
    color: $black;
    font-size: $font-size*2;
    font-weight: 600;
    padding: 2em;
}

.imgservice {
    padding: 1em 0em 1em;
    width: 500px; 
    height: 800px;
}