.indextemporada {
    background-color: $light_color4;
}

#newcolection {
    @include flex-row-wrap;
    justify-content: center;
    align-items: center;
    padding-top: $padding/2;
}

main {
    section {
        div {
            h1 {
                text-align: center;
                color: $black;
                opacity: 0.9;
                text-shadow: 0.2em $shadow;
                font-weight: 600;
                font-size: $font-size+1.5;
                padding: $padding/2 $padding/2 $padding;
            }

            h2 {
                padding-bottom: $padding/2;
                text-align: center;
                color: $black;
            }
        }
    }
}

#newinfantil, #newadultos, #newocasion {
    @include newtemporada-grid-template;
}

.imgcolection {
    box-shadow: 0.2em 0.2em 0.2em $shadow;
}