.indextemporada {
    background-color: $light_color4;
}

#newcolection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.50em;
}

main {
    section {
        div {
            h1 {
                text-align: center;
                color: $black;
                opacity: 0.9;
                text-shadow: 0.2em $shadow;
                font-weight: 600;
                font-size: 2.5rem;
                padding: 0.5em 0.5em 1em;
            }

            h2 {
                padding-bottom: 0.5em;
                text-align: center;
                color: $black;
            }
        }
    }
}

#newinfantil {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding-top: 0.5em;
    padding-bottom: 2em;
}

#newadultos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding-top: 0.5em;
    padding-bottom: 2em;
}

#newocasion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding-top: 0.5em;
    padding-bottom: 2em;
}

.imgcolection {
    box-shadow: 0.2em 0.2em 0.2em $shadow;
}
